.product-description-cls{
    margin: auto 80px;
    h3{
        font-family: "AdineuePROBold",Helvetica,Arial,sans-serif;
        font-style: normal;
        font-weight: 600;
        margin-bottom: 20px;
        text-transform: uppercase;
        font-size: 30px;
        line-height: 28px;
    }
    span{
        font-family: "AdihausDINCnMediumItalic",Helvetica,Arial,sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 28px;
    }

    p{
        font-size: 16px;
        line-height: 22px;
        font-family: "AdihausDINRegular",Helvetica,Arial,sans-serif;
        font-style: normal;
        font-weight: normal;
    }
}