.product-cls{
    width: 30%;
    section{
        margin: 20px 30px;
        &.header{
            font-family: "AdihausDINRegular",Helvetica,Arial,sans-serif;
            font-weight: normal;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;

            .product-type{
                font-size: 14px;
            }
            .rating{
                display: flex;
                img{
                    width: 20px;
                }
            }
        }
        &.title{
            font-family: "AdihausDINCnMediumItalic",Helvetica,Arial,sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 42px;
            line-height: 38px;
        }
        &.subtitle{
            font-family: "AdihausDINRegular",Helvetica,Arial,sans-serif;
            font-weight: normal;
            font-size: 14px;
        }
        &.price{
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 18px;
            font-family: "AdihausDINRegular",Helvetica, Arial, sans-serif;
            font-style: normal;
            font-weight: 800;
        }

        &.size-chart{
            font-family: "AdihausDINRegular",Helvetica,Arial,sans-serif;
            font-weight: 700;
            font-size: 14px;
        }

        &.cart{
            img{
                width: 24px;
            }
            .cart-btn{
                text-transform: uppercase;
                font-size: 13px;
                font-family: "AdihausDINRegular",Helvetica,Arial,sans-serif;
                font-weight: 700;
                letter-spacing: 2px;
                align-items: center;
                border: none;
                border-radius: 0;
                cursor: pointer;
                display: inline-flex;
                justify-content: flex-start;
                line-height: 50px;
                min-height: 50px;
                padding: 0 21px;
                position: relative;
                text-align: left;
                text-decoration: none;
                background-color: #000;
                color: #fff;
                &::before{
                    bottom: -3px;
                    height: 3px;
                    left: 3px;
                    width: 100%;
                }
            }
        }     
    }
}

@media (max-width: 640px) {
    .product-cls{
        width: 100%;
    }
}