.size-chart-cls{
    .label{
        margin-bottom: 20px;
    }
    .chart{
        display: flex;
        flex-flow: row wrap;
        border-left: 1px solid #ebedee;
        margin-bottom: 24px;
        span{
            height: 40px;
            width: 73.5px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #ebedee;
            border-left: none;
            margin-bottom: -1px;
            font-feature-settings: "frac";
            font-family: "AdihausDINRegular",Helvetica,Arial,sans-serif;
            font-weight: normal;
            cursor: pointer;
            letter-spacing: -0.2px;
            font-size: 13px;
        }
        span:hover{
            background-color: #000;
            color: #fff;
        }
    }
    .ruler-logo, .mail-logo{
        width: 17px;
        margin-right: 10px;
    }
    .ruler-def{
        div{
            display: flex;
        }
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
    }
}